{% load static %}

<footer>
    <div class="footer__top">
        <div class="container">
            <div class="row ">
                <div class="col-lg-3 mb-5">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{% static 'img/logo-removebg.png'%}" alt="" class="img-fluid">
                        </a>
                        <p>We at Himalayan Nada Nirvana Yoga provide various services to the nature of the clients.
                            Wish how you would like to spend the time here we can talk and come to a conclusion.</p>

                    </div>

                </div>

                <div class="col-lg-9">
                    <div class="row justify-content-end">
                        <div class="col-lg-2 col-6 mb-4 mb-lg-0">
                            <div class="wrap">
                                <h3>Links</h3>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Gallery</a></li>
                                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class=" col-lg-2 col-6 mb-4 mb-lg-0">
                            <div class="wrap">
                                <h3>SERVICES</h3>
                                <ul>
                                    <li><a href="#">Kids Yoga</a></li>
                                    <li><a href="#">Vinyasa Yoga</a></li>
                                    <li><a href="#">Ashtanga Yoga</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3  mb-4 mb-lg-0">

                            <div class="row">
                                <div class="col-6 col-lg-12">
                                    <div class="wrap mb-4">
                                        <h3>Contact</h3>
                                        <ul>
                                            <li>Reg No : 275236/078/079</li>
                                            <li><a href="phoneto:9841232350">Phone : 9841232350</a></li>
                                            <li><a href="mailto:asd.gmail.com">himalayannadanirvanayoga@gmail.com</a>
                                            </li>
                                            <li>Chandragiri - 6, Kathmandu</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-12">
                                    <div class="wrap">
                                        <h3>Social Media</h3>
                                        <div class="d-flex flex-wrap gap-3 socials">
                                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

            <div class="bg">
                <img src="{% static 'img/chakra.png'%}" alt="" class="img-fluid">
            </div>

        </div>
    </div>
    <div class="footer__bot">
        <div class="container">
            <div class="footer__deco">
                <span class="lines"></span>
                <img src="{% static 'img/floral-decor.png'%}" alt="" class="img-fluid">
                <span class="lines"></span>
            </div>
            <p>
                Himalayan Nada Nirvana Yoga
            </p>
        </div>
    </div>
</footer>