<!-- Modal -->
<div class="modal fade" id="buynowmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="section__title small pb-0" data-aos="fade-in">
                    <h5 class="mx-0">Buy {{product.title}}</h5>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="custom-fs-14 mb-4">Send us your information and we will get back to you as soon as possible.
                </p>
                <form action="{% url 'order' %}" class="contact__form" method="POST">
                    {% csrf_token %}
                    <div class="form__wrap mb-3">
                        <input type="text" placeholder="Name" required="" class="form-control" name="name">
                    </div>
                    <div class="form__wrap mb-3">
                        <input type="text" placeholder="Phone Number" required="" class="form-control" name="number">
                    </div>
                    <div class="form__wrap mb-3">
                        <input type="text" placeholder="Email" required="" class="form-control" name="email">
                    </div>
                    <div class="form__wrap mb-3">
                        <textarea required="" class="form-control" placeholder="Message" name="message"></textarea>
                    </div>
                    <input type="submit" value="Send" class="btn btn__1"  />
                </form>
            </div>
        </div>
    </div>
</div>