{% load static %}

<!-- JS  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/lightgallery.min.js"
    integrity="sha512-2KYdY5Sg3LCcbEnJ6JSoDyFDpgoDHPHl+4ZFE1DV23IVqiCSsjfkmuhJ0Uu6VTkvqaRtQDZ/LyhmMXvWUfymSw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/plugins/thumbnail/lg-thumbnail.min.js"
    integrity="sha512-HbdAMrTXUriN/BCnuq4aj1BHa0vPqXMRokZoAI/BAbEfIt49PY5De3jP5u2lDFJetPpx7LkLHm8glbP1NjxxiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.6.1/plugins/zoom/lg-zoom.umd.min.js"
    integrity="sha512-IwXCXXaBNNIF1dEd4kQkdvUYvVrsMsy61S5Y+BxiR5jGMWIo1WfrvNGcUuBuPD1qEcTkjGP5K8g58serjgP7Ww=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/jquery.zoom.min.js'%}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/splide.min.js' %}"></script>
<script src="{% static 'js/mmenu.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>