{% extends 'base.html' %}

{% block content %}

<section class="custom__bg overflow-hidden">
    <div class="container">
        <div class="section__title" data-aos="fade-in">
            <h5>Gallery</h5>
        </div>

        <div class="gallery__grid">

            {% for img in imgs %}
            <a href="{{ img.img.url}}">
                <img alt="img1" src="{{ img.img.url}}" class="img-fluid" />
            </a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}