{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="custom__bg__yellow">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-12">
                <div class="section__title" data-aos="fade-in">
                    <h5> Singing Bowl</h5>
                </div>
            </div>
            <div class="col-lg-8 mb-4 " data-aos="fade-in">
                <p class="mb-3 custom-fs-18">
                    A singing bowl is a particular kind of standing bell that is inverted and played by rotating a
                    mallet
                    around the outer rim in order to create a resonant, musical note. It can also be played in the more
                    traditional way by simply striking the edge of the bowl. They range in size from just a few
                    centimeters
                    to a meter across.
                </p>
                <p class="custom-fs-18 mb-4">

                    As well as being used for making music, singing bowls have become popular with yogis. They may be
                    played
                    during a yoga class or to rouse the class from savasana. They may also be used in meditation or
                    healing
                    practices.
                </p>
                <div class="section__title small" data-aos="fade-in">
                    <h5 class="mx-0"> History of Tibetan Singing Bowls</h5>
                </div>
                <p class="custom-fs-18 mb-3">
                    There is debate about the exact origins of the Tibetan singing bowl, although there is some evidence
                    that it may have originated in China sometime around the 16th century BC. Traditional bowls were
                    made of a variety of metals including mercury, lead, silver, iron, gold, and copper.
                </p>
                <p class="custom-fs-18">
                    During the 1970s, people began importing the bowls to North America and Europe. They grew in
                    popularity in the 1990s as a complementary and alternative treatment for a variety of ailments.
                </p>
            </div>
            <div class="col-lg-4 mb-4" data-aos="fade-in">
                <img src="{% static 'img/download.jpg' %}" alt="" class="img-fluid w-100">
            </div>
            <div class="col-12 pt-5" data-aos="fade-in">
                <div class="section__title small" data-aos="fade-in">
                    <h5 class="mx-0"> Uses for Tibetan Singing Bowls</h5>
                </div>
                <p class="custom-fs-18 mb-3">
                    Very few scientific studies have examined the potential benefits of Tibetan singing bowls, despite
                    their long history of use. But some people do report that using the bowls help them feel more
                    relaxed.
                </p>
                <p class="custom-fs-18 mb-3">
                    Uses for singing bowl therapy include:
                </p>
                <ul class="list-group list-group-flush  lh-lg">
                    <li class="list-group-item bg-transparent px-0"><strong>Stress relief: </strong>Some research
                        supports the use of Tibetan singing bowls as a way
                        to promote relaxation and reduce feelings of anxiety.</li>
                    <li class="list-group-item bg-transparent px-0"><strong>Improving sleep: </strong>Because singing
                        bowl therapy has been linked to decreased
                        anxiety and tension, it may be helpful for improving sleep. Further research is needed to
                        support this.</li>
                    <li class="list-group-item bg-transparent px-0"><strong>Lowering blood pressure: </strong>A
                        preliminary study published in the American Journal
                        of Health Promotion in 2014 examined the benefits of starting a directed relaxation session with
                        12 minutes of singing bowl sounds. It found a greater reduction in systolic blood pressure and
                        heart rate compared to silence before the session.</li>
                    <li class="list-group-item bg-transparent px-0"><strong>Reducing depression: </strong>One study
                        linked singing bowl therapy to improvements in
                        mood and suggested that this approach may be a low-cost way to help reduce symptoms of
                        depression.</li>
                    <li class="list-group-item bg-transparent px-0"><strong>Stimulating the immune system: </strong>Some
                        also claim that Tibetan singing bowls can
                        stimulate the immune system and produce beneficial changes in brain waves.</li>
                    <li class="list-group-item bg-transparent px-0"><strong>Pain relief:</strong>One study looking at
                        chronic spinal pain found that people treated
                        with singing bowl therapy experienced significantly decreased pain intensity as well as
                        decreased stress.3 However, placebo treatment had the same effects, so the study's authors
                        concluded that singing bowl therapy's effectiveness for pain relief could not be confirmed.</li>
                    <li class="list-group-item bg-transparent px-0"><strong>Balancing and harmonizing the
                            body:</strong>Many proponents claim that the vibrations of
                        a singing bowl can produce beneficial changes in the body by "harmonizing" the cells and
                        "balancing the body's energy system."</li>
                    <li class="list-group-item bg-transparent px-0"><strong>Enhancing other healing practices:
                        </strong>Some people use the bowls in combination
                        with other healing practices, such as meditation and deep breathing.</li>
                </ul>
            </div>
            <div class="col-12 pt-5" data-aos="fade-in">
                <img src="{% static 'img/Website3_1600x.webp' %}" alt="" class="img-fluid w-100">
            </div>
            <div class="col-12 pt-5" data-aos="fade-in">
                <div class="section__title small" data-aos="fade-in">
                    <h5 class="mx-0"> How to Use Tibetan Singing Bowls</h5>
                </div>
                <p class="custom-fs-18 mb-3">
                    During singing bowl treatment, you will lie on the floor while the bowls are placed in different
                    configurations. For example, they might be placed around your body, on your body, or in different
                    locations around the room.
                </p>
                <p class="custom-fs-18 mb-3">
                    Once positioned, the practitioner will use mallets to strike the bowls in a sequence in order to
                    produce sounds and vibrations. In some cases, your practitioner may also include a guided
                    meditation.
                </p>
                <p class="custom-fs-18 mb-3">To use a singing bowl yourself, firmly press the accompanying mallet in a
                    circular motion against the bowl's outside edge or rim. When you hear a bright, clear tone, you can
                    slow down the motion. Use your full arm to make the motion, rather than just rotating your wrist.
                </p>
                <p class="custom-fs-18 mb-3">
                    You can also make the same circular motion against the outside belly of the bowl. Additionally, you
                    can gently strike the bowl before beginning the circular motion.
                </p>
            </div>
            <div class="col-lg-6 pt-5" data-aos="fade-in">
                <img src="{% static 'img/tibetan-singing-bowl-bowls-1200x628-facebook-1200x628.jpg' %}" alt=""
                    class="img-fluid w-100">
            </div>
            <div class="col-lg-6 pt-5" data-aos="fade-in">
                <div class="section__title small" data-aos="fade-in">
                    <h5 class="mx-0"> Impact of Tibetan Singing Bowls</h5>
                </div>
                <p class="custom-fs-18 mb-3">
                    While using Tibetan singing bowls is generally regarded as safe, there is not a great deal of
                    research
                    on the possible risks and side effects of this type of treatment. People who may want to avoid
                    singing
                    bowl therapy include those who:
                </p>
                <ul class="list-group list-group-flush  lh-lg">
                    <li class="list-group-item bg-transparent px-0"><strong>Are prone to headaches: </strong>Some people
                        report experiencing
                        headaches as a result of the noise and vibrations that the singing bowls produce. </li>
                    <li class="list-group-item bg-transparent px-0"><strong>Are pregnant: </strong>Because the effects
                        on
                        pregnancy are not known, you might want to avoid this type of therapy if you are currently
                        pregnant.</li>
                    <li class="list-group-item bg-transparent px-0"><strong>Have epilepsy: </strong>In some instances,
                        noise and vibrations may trigger seizures.</li>
                </ul>
            </div>
            <div class="col-12 pt-5">
                <div class="section__title small" data-aos="fade-in">
                    <h5 class="mx-0"> Summary</h5>
                </div>
                <p class="custom-fs-18 mb-3">Tibetan singing bowls are believed to promote relaxation, relieve
                    stress, and produce other healing effects. Originating in China thousands of years ago, these
                    bowls have become increasingly popular in other countries over the last few decades.
                </p>
                <p class="custom-fs-18 mb-3">Purported benefits include improving sleep, reducing depression,
                    relieving pain, and increasing immunity. However, current evidence cannot substantiate these
                    benefits. While there appear to be some positive effects, more research is needed to determine
                    how and when singing bowls are best used.
                </p>
            </div>
        </div>
    </div>

</section>
{% endblock %}